<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
     <p>[Add some content specific to this page]</p>
     <p>About Page</p>
    <p>This is a page about me, Zackary Sinclair.</p>
    <p>I am from Sacramento, CA. I am excited to be starting my second to last semester at BYU-Idaho. I am married to the most amazing woman in the world.</p>
    <p>We have a happy baby boy who is under a year old and a dog that loves to go on walks.</p>
    <h3>Brief Intro about myself</h3>
    <p>I am studying Computer Science at BYU-Idaho. I am working towards earning my bachelors degree in software development.</p>
    <p>I am excited to take this class and learn more about software development.</p>
    <h3>List of your hobbies</h3>
    <ul>
        <li>Hiking</li>
        <li>Baking</li>
        <li>Spending time with family and friends.</li>
    </ul>
    <h3>Picture of yourself saved in the public/images directory</h3>
    <img src="public/images/wedding-photo.jpg" alt="Wedding photo">

    <img src="https://i.ibb.co/SXxP1kWD/wedding-photo.jpg" alt="wedding-photo" border="0"></a>
</main>
<%- include('partials/footer') %>
