<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- Global CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Dynamically injected styles -->
  <%- renderStyles() %>

  <% if (NODE_ENV.includes('dev')) { %>
    <script>
      const host = window.location.hostname;
      const currentPort = window.location.port;
      const wsPort = currentPort ? (parseInt(currentPort) + 1) : 3001;
      const ws = new WebSocket(`ws://${host}:${wsPort}`);
      ws.onclose = () => {
        setTimeout(() => location.reload(), 2000);
      };
    </script>
  <% } %>
</head>
<body class="<%= bodyClass %>">
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/catalog">Course Catalog</a></li>
        <li><a href="/faculty">Faculty Directory</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/contact/responses">Contact Responses</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/register/list">Users</a></li>
      </ul>
    </nav>
  </header>